---
// Import the necessary components
import MainLayout from '@/layouts/MainLayout.astro';
import ContactSection from '@components/sections/ContactSection.astro';
import { SITE } from '@data/constants';

const pageTitle: string = `Contact | ${SITE.title}`;

const baseClasses =
    'inline-flex w-full items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-bold text-neutral-700 focus-visible:ring outline-none transition duration-300';
const borderClasses = 'border border-transparent';
const bgColorClasses = 'bg-yellow-400 dark:focus:outline-none';
const hoverClasses = 'hover:bg-yellow-500';
const fontSizeClasses = '2xl:text-base';
const disabledClasses = 'disabled:pointer-events-none disabled:opacity-50';
const ringClasses = 'ring-zinc-500 dark:ring-zinc-200';
---

<!--Utilizing MainLayout for the outer layout of the page, and defining meta for SEO purposes-->
<MainLayout
    title={pageTitle}
    structuredData={{
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        '@id': 'https://dansamarluque.com/contact',
        url: 'https://dansamarluque.com/contact',
        name: 'Contacto | Dansa Mar Luque',
        description: ' ',
        isPartOf: {
            '@type': 'WebSite',
            url: 'https://dansamarluque.com',
            name: 'Dansa Mar Luque',
            description:
                'En Estudi de Dansa Mar Luque disponemos de un casal de verano con numerosas actividades para todas las edades.',
        },
        inLanguage: 'en-US',
    }}>
    <!-- <ContactSection />-->
    <h1
        class="mt-20 text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
        Contacto
    </h1>
    <a
        href="tel:+34652524715"
        class={`g-recaptcha mt-20 mb-20 ${baseClasses} ${borderClasses} ${bgColorClasses} ${hoverClasses} ${fontSizeClasses} ${disabledClasses} ${ringClasses}`}
        >llamar</a
    >
    <!-- <a
        href="mailto:"
        class={`g-recaptcha mb-20 ${baseClasses} ${borderClasses} ${bgColorClasses} ${hoverClasses} ${fontSizeClasses} ${disabledClasses} ${ringClasses}`}
        >enviar un correo</a
    >-->
</MainLayout>
